# Some examples in Python 3.x

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/fmardero/MLedulife/blob/master/lesson_02/intro_python.ipynb)

## Hello World

In [0]:
print('Hello World!')

Hello World!

In [0]:
print("Hello World!")

Hello World!

In [0]:
# Jupyter Notebooks only
'Hello World!'

'Hello World!'

## Variables and some formats

In [0]:
var = 'Hello World!'
type(var)

str

In [0]:
var = 10
type(var)

int

In [0]:
var = 10.0
type(var)

float

In [0]:
var = True
type(var)

bool

## Strings

In [0]:
var = 'Happy Machine Learning!'
var[0]

'H'

In [0]:
var[:5]

'Happy'

In [0]:
var[6:13]

'Machine'

In [0]:
var[-1]

'!'

In [0]:
var[-9:]

'Learning!'

In [0]:
var[:-10]

'Happy Machine'

In [0]:
var[0] = 'C'

TypeError: ignored

## Some String Formatting

In [0]:
var = 'Happy Machine Learning!'

# Obsolete formatting
print('Suddenly he said: \"%s\"' % var)

Suddenly he said: "Happy Machine Learning!"

In [0]:
pi = 3.1415

# Obsolete formatting
print('pi =', pi)
print('pi = %3f' % pi)
print('pi = %3.6f' % pi)
print('pi = %.2f' % pi)
print('pi = %8.2f' % pi)
print('pi = %08.2f' % pi)
print('pi = %3.2f' % pi)
print('pi = %3d' % pi)
print('pi = %03d' % pi)
print('pi = %s' % pi)

pi = 3.1415
pi = 3.141500
pi = 3.141500
pi = 3.14
pi =     3.14
pi = 00003.14
pi = 3.14
pi =   3
pi = 003
pi = 3.1415

In [0]:
# Two ways to format in Python 3.x
print('pi = {}'.format(pi))
print(f'pi = {pi}')

print('pi = {:.2f}'.format(pi))
print(f'pi = {pi:.2f}')

pi = 3.1415
pi = 3.1415
pi = 3.14
pi = 3.14

In [0]:
var = f'pi = {pi:.2f}'
var

'pi = 3.14'

## If Statement

In [0]:
# "Tabs are the new parenthesis."
pi = 3.1415

if pi / 3 > 1:
    print('Well done.')
else:
    print(f'Please retry. Statement {pi/3} > 1 is false.')

Well done.

In [0]:
if pi // 3 > 1:
    print('Well done.')
else:
    print(f'Please retry. Statement {pi//3} > 1 is false.')

Please retry. Statement 1.0 > 1 is false.

In [0]:
if pi % 3 > 1:
    print('Well done.')
else:
    print(f'Please retry. Statement {pi%3:.2f} > 1 is false.')

Please retry. Statement 0.14 > 1 is false.

In [0]:
var = 'Happy Machine Learning!'

if 'Happy' in var:
    print('Well done.')
else:
    print(f'Please retry.')

Well done.

TypeError: ignored

In [0]:
not ('Happy' in var)

False

In [0]:
'happy' in var

False

## Lists, Tuples, Sets, Dictionaries

### List
The list is an ordered collection of objects.

In [0]:
var = [] # or var = list()
print(var)

var.append([0, 1])
print(var)

var += [2]
print(var)

print(f'First element {var[0]}', f'Second element: {var[1]}', sep='\n')
print(f'Second element of first element: {var[0][1]}')

[]
[[0, 1]]
[[0, 1], 2]
First element [0, 1]
Second element: 2
Second element of first element: 1

In [0]:
# Lists can be sorted
var = [3, 1, 2]

print(sorted(var))
print(var)

var.sort()

print(var)

[1, 2, 3]
[3, 1, 2]
[1, 2, 3]

In [2]:
list('Happy Machine Learning!')

['H',
 'a',
 'p',
 'p',
 'y',
 ' ',
 'M',
 'a',
 'c',
 'h',
 'i',
 'n',
 'e',
 ' ',
 'L',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 '!']

### Tuple
Tuples are data structures that are very similar to lists, but they can’t be modified. They can only be created.

In [0]:
var = (0, 1, 2) # or var = tuple()

# Tuple elements can't be modified
var[0] = 3

TypeError: ignored

### Set
A set in Python is an unordered collection of objects used in situations where membership and uniqueness in the set are main things you need to know about that object.
The items in a set must be immutable and hashable.

In [0]:
var = {1, 3, 2, 1, 3} #set([1, 3, 2, 1, 3])
var

{1, 2, 3}

In [1]:
set([1, 2, 2, 3, 1, 0])

{0, 1, 2, 3}

### Dictionary
Dictionaries are associative arrays implemented using hash tables.

In [0]:
var = {'apple': 0} # or var = dict('apple': 0)

var['banana'] = 1
print(var)
print(f"Apple value: {var['apple']}")

print(var.keys())
print(var.values())
print(var.items())

{'apple': 0, 'banana': 1}
Apple value: 0
dict_keys(['apple', 'banana'])
dict_values([0, 1])
dict_items([('apple', 0), ('banana', 1)])

## Loops

### For

In [0]:
var = ['apple', 'banana', 'cactus']

for v in var:
    print(f'Value: {v}')

Value: apple
Value: banana
Value: cactus

In [0]:
var = ['apple', 'banana', 'cactus']

for i, v in enumerate(var):
    print(f'Value {i}: {v}')

Value 0: apple
Value 1: banana
Value 2: cactus

In [0]:
var = {'apple': 0, 'banana': 1, 'cactus': 2}

for val, key in var.items():
    print(f'Key: {key}\tValue: {val}')

Key: 0	Value: apple
Key: 1	Value: banana
Key: 2	Value: cactus

In [0]:
for i in range(10):
    print(f'Value: {i}')

Value: 0
Value: 1
Value: 2
Value: 3
Value: 4
Value: 5
Value: 6
Value: 7
Value: 8
Value: 9

### While

In [0]:
i = 0

stop = False

while stop == False:
    print(f'Value: {i}')
    i += 1

    if i > 9:
        stop = True

Value: 0
Value: 1
Value: 2
Value: 3
Value: 4
Value: 5
Value: 6
Value: 7
Value: 8
Value: 9

In [0]:
i = 0

# Loop 4ever until break
while True:
    print(f'Value: {i}')
    i += 1

    if i > 9:
        break

Value: 0
Value: 1
Value: 2
Value: 3
Value: 4
Value: 5
Value: 6
Value: 7
Value: 8
Value: 9

## Functions

In [0]:
def plus_one(x):
    return x + 1

print(plus_one(9))

10

In [0]:
def print_plus_one(x, text=''):
    print(text, x+1)

print_plus_one(9)

 10

## Classes

In [0]:
class Eval:
    def __init__(self, x):
        self.x = x

    def plus_one(self):
        self.x += 1

    def print_plus_one(self, text=''):
        self.plus_one()
        
        if len(text) > 0:
            separator = ' '
        else:
            separator = ''
            
        print(text, self.x, sep=separator)

c = Eval(9)
print(f'Get the x class variable: {c.x}')

c.plus_one()
print(f'Get the x class variable: {c.x}')

c.print_plus_one()
c.print_plus_one(text='Get the x class variable:')

Get the x class variable: 9
Get the x class variable: 10
11
Get the x class variable: 12

## Try & Except

In [0]:
var = (0, 1, 2) # or var = tuple()

# Tuple elements can't be modified
# Let's try anyway!!
try:
    var[0] = 3
except:
    print('Can\'t do it.')

Can't do it.

In [0]:
var1 = (0, 1, 2) 
var2 = [0, 1, 2]

# Tuple example
print('Tuple example')
try:
    var1[0] = 3
except Exception as e:
    print(e)
else:
    print(f'Variable: {var1}')
finally:
    print('Example ended.\n\n')

# List example
print('List example')
try:
    var2[0] = 3
except Exception as e:
    print(e)
else:
    print(f'Variable: {var2}')
finally:
    print('Example ended.')

Tuple example
'tuple' object does not support item assignment
Example ended.


List example
Variable: [3, 1, 2]
Example ended.

# Completed Notebook

In [0]:
import datetime
print('Completed running this Notebook at:', datetime.datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S'))

Completed running this Notebook at: 2019-10-12 17:02:31

**Sources**

> `"The Quick Python Book"`, Naomi Ceder

> `"Python Data Science Handbook: Tools and Techniques for Developers"`, Jake VanderPlas